 <h2 class="text-center mt-3">Entertainment News </h2>

<div class="container mt-5">
    <div class="row">

        <div class="col-lg-3 mt-3 mb-3" *ngFor="let d of enterDisplay">
            <div class="box">

                <img src="{{d.urlToImage}}" alt="newsimage" width="100%" class="img-fluid">
                <h5 class="mt-2 mb-2">{{d.title}}</h5>
                <p>{{d.content}}</p>
                <a href="{{d.url}}" class="btn btn-primary btn-sm" target="_">Read More</a>
            </div>
        </div>
    </div>
</div>



<footer class="mt-3">
    <p class="text-center text-white">&copy; Copyright 2021 Reserved: DeepakTV</p>
 </footer>
 


